{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load widget_tweaks %}

                        <h2>Write here your new password</h2>
					    <form method="post">
                            {% load widget_tweaks %}
                            {% csrf_token %}
                            {% render_field form.password class="form-control" placeholder="new password" type="password"%}
                            {% render_field form.retype_password class="form-control" placeholder="re-type new password" type="password" %}

                            <button type="submit" href="{% url 'login' %}"> Submit </button>

                        </form>

{% endblock %}