{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load widget_tweaks %}

    <h2>Write your address email here, to send reset link</h2>
    <form method="post" method="post" accept-charset="utf-8" enctype="multipart/form-data"
          action="{% url 'reset_password' %}">
        {% csrf_token %}
        <input
                id="emailInput"
                placeholder="email address"
                name="email"
                type="email"
                class="form-control"
                oninvalid="setCustomValidity('Please enter a valid email address!')"
                value="{{ values.email }}"
                onchange="try{setCustomValidity('')}catch(e){}"
                required=""
        />

        <button type="submit" href="{% url 'login' %}"> Submit</button>
    </form>

    <br> Dont have account? Create <a href="{% url 'register' %}"> one </a>
    <br> Have account? Please login <a href="{% url 'login' %}"> here </a>


{% endblock %}