{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ToDo App</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'todo/bs/css/flatly.min.css' %}" />
		<link rel="stylesheet" href="{% static 'todo/styles.css'  %}" />
        <link rel="stylesheet" href="{% static 'todo/bs/css/tasks.css' %}">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="container-fluid" id="wrapper">

			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2>WHAT DO YOU WANT TO DO TODAY?</h2>

					<div class="row t10">
						<div class="col-lg-12">
							<div class="btn-toolbar">
								<div class="btn-group">
                                    <a href="{% url 'create_todo' %}">
									<button type="button" class="btn btn-warning">
										<i class="glyphicon glyphicon-trash"></i> ADD NEW TODO
									</button>
                                    </a>
								</div>
							</div>
                            <br>Your Todo lists:
                            {% for todo in todo_list %}
                                <br>
                                <a href="{% url 'todo_app:todolist' user.username %}?todo={{ todo }}"> <button type="submit" class="btn btn-warning">
										<i class="glyphicon"></i> {{ todo }}
									</button>
                                </a>
                                	<div class="btn-group">
                                    <a href="">
									<button type="button" class="btn btn-warning">
										<i class="glyphicon"></i> SHARE TODO
									</button>
                                    </a>
								</div>
                            {% endfor %}
						</div>
					</div>
                <div style="position: relative; width: 80%">
                    <br > Click here if you wanna <a href="{% url 'logout' %}">logout  </a>

                </div>
                <div class="position-relative pull-right" style="margin-top: -25px">
                    download a CSV <a href="{% url 'download_csv' %}"> file </a>
                </div>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Copyright &copy; 2017 <strong>ToDo App</strong>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
