{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <h2>WHAT DO YOU WANT TO DO TODAY?</h2>

    <div class="row t10">
        <div class="">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a href="{% url 'create_todo' %}">
                        <button type="button" class="btn btn-warning" style="background-color:rgba(53,111,170,0.98) ;border-color: rgba(53,111,170,0.98)">
                            <i class="glyphicon glyphicon-info-sign"></i> ADD NEW TODO
                        </button>
                    </a>
                </div>
            </div>
            <br>Your Todo lists:
            {% for todo in todo_list %}
                <div>
                    <br>
                    <a href="{% url 'todo_app:todolist' user.username %}?todo={{ todo.id }}">
                        <button type="submit" class="btn btn-warning">
                            <i class="glyphicon"></i> {{ todo.name }}
                        </button>
                    </a>
                    <div class="btn-group">
                        <a href="{% url 'todo_app:share' user.username %}?todo={{ todo.id }}">
                            <button type="submit" name='share_{{ todo.name }}' class="btn btn-warning">
                                <i class="glyphicon"></i> SHARE TODO
                            </button>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'todo_app:delete_sharing' user.username %}?todo={{ todo.id }}">
                            <button type="submit" name='delete_share_{{ todo.name }}' class="btn btn-warning">
                                <i class="glyphicon"></i> DELETE SHARE
                            </button>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'todo_app:delete_todo' user.username %}?todo={{ todo.id }}">
                            <button type="submit" name='delete_todo_{{ todo.id }}' class="btn btn-warning">
                                <i class="glyphicon"></i> DELETE TODO
                            </button>
                        </a>
                    </div>
                    {% if todo.shared %}
                        <div class="btn-group">
                            <a href="{% url 'todo_app:shared_list' user.username %}?todo={{ todo.id }}">
                                <button type="submit" name='delete_todo_{{ todo.id }}' class="btn btn-info"
                                        style="background-color: #4cae4c; border-color: #4cae4c;">
                                    <i class="glyphicon glyphicon-info-sign color"></i> TODO SHARED
                                </button>
                            </a>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

            {% if list_of_shared_todos %}
                <br>Shared for you:
                {% for todo in list_of_shared_todos %}
                    <div>
                        <br>
                        <a href="{% url 'todo_app:todolist' user.username %}?todo={{ todo.id }}">
                            <button type="submit" class="btn btn-warning">
                                <i class="glyphicon"></i> {{ todo.name }}
                            </button>
                        </a>

                        <div class="btn-group">
                            <a href="{% url 'todo_app:delete_todo' user.username %}?todo={{ todo.id }}">
                                <button type="submit" name='delete_todo_{{ todo.id }}' class="btn btn-warning">
                                    <i class="glyphicon"></i> DELETE TODO
                                </button>
                            </a>
                        </div>

                    </div>
                {% endfor %}
            {% endif %}

        </div>
        <div style="position: relative; width: 80%">
            <br> Click here if you wanna <a href="{% url 'logout' %}">logout </a>

        </div>

    </div>

{% endblock %}