{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'message.html' %}

      {% load widget_tweaks %}

      <h2>Hello to todo app. Sign in to Your Account</h2>

        <form method="post">
           {% csrf_token %}
              {% render_field form.username class+="form-control" placeholder="login" %}
              {% render_field form.password class+="form-control" placeholder="password" %}
              <button type="submit" href="{% url 'account' %}"> Submit </button>
        </form>

        <br> Dont have account? Create <a href="{% url 'register' %}"> one </a>
        <br> Forgot your password? Reset it <a href="{% url 'reset_password' %}"> here </a>

{% endblock %}