{% extends 'base.html' %}
{% block content %}
{% load static %}

      {% load widget_tweaks %}
                        <h2>Please register here</h2>
					        <form method="post" action="{% url 'register' %}">
                                {% csrf_token %}

                                {% render_field form.username class+="form-control" placeholder="username" %}
                                {% render_field form.email class+="form-control" placeholder="email" %}
                                {% render_field form.password1 type="password" class+="form-control" placeholder="Write your password" %}
                                {% render_field form.password2 type="password" class+="form-control" placeholder="Write your passwort again" %}

                                <button type="submit"> Submit </button>

                            </form>

                     <br> Have account? Please <a href="{% url 'login' %}">login here </a>

{% endblock %}