{% extends 'base.html' %}
{% block content %}
    {% load static %}

    {% load widget_tweaks %}

    <h2>Enter the email address of a friend you want to share the "<b>{{ todo.name }}</b>" list with</h2>

    <form action="{% url 'todo_app:share' user.username %}?todo={{ todo.id }}" method="POST" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group center-block">
                <div class="klaska wlasna" style="width: 90%">

                    {% render_field form.text class="form-control" placeholder="Enter email address" aria-label="Todo" aria-describedby="add-btn" %}
                </div>
                <span class="input-group-btn">
				<button type="submit" class="btn btn-default" id="add-btn" style="position: absolute; top: 0px">Share</button>
				</span>
            </div>
        </div>
    </form>
    <div class="btn-group">
        <a href="{% url 'account' %}">
            <button type="button" class="btn btn-info" style="background-color:rgba(53,111,170,0.98) ;border-color: rgba(53,111,170,0.98)">
                <i class="glyphicon glyphicon-arrow-left"></i> GO BACK TO ACCOUNT PAGE
            </button>
        </a>
    </div>


{% endblock %}