{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'message.html' %}

      {% load widget_tweaks %}
					<h2>Enter the email address of a user who you want to take privilages to "<b>{{ todo_name.name }}</b>" list </h2>

					<form action="{% url 'todo_app:delete_sharing' user.username%}?todo={{ todo.id }}" method="POST" role="form">
                        {% csrf_token %}
						<div class="form-group">
							<div class="input-group center-block">
                                <div class="klaska wlasna" style="width: 90%">
                                {% load widget_tweaks %}
                                {% render_field form.text class="form-control" placeholder="Enter email address" aria-label="Todo" aria-describedby="add-btn" %}
                                 </div>
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="add-btn" style="position: relative; top: 0px">Errase relate</button>
							  </span>
							</div>
						</div>
					</form>
                    <div class="btn-group">
                        <a href="{% url 'account' %}">
                            <button type="button" class="btn btn-info" style="background-color:rgba(53,111,170,0.98)">
                                <i class="glyphicon glyphicon-arrow-left"></i> GO BACK TO ACCOUNT PAGE
                            </button>
                        </a>
                    </div>


{% endblock %}