{% extends 'base.html' %}
{% block content %}
{% load static %}

      {% load widget_tweaks %}
                    <form method="post">
                        Give the name of your ToDo list:
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        {% render_field form.text class="form-control" name="todo_name" placeholder="Enter todo name" aria-label="Todo" aria-describedby="add-btn" %}
                        <div>
                            <button type="submit" class="btn btn-default fixed-bottom">Submit</button>
                        </div>
                    </form>
                <div style="position: relative; width: 80%">
                    <br > Click here if you wanna <a href="{% url 'logout' %}">logout  </a>

                </div>

{% endblock %}